H3 {
  color: #36454d;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 30px;
  font-weight: bold;
}
.menu {
  padding: 20px 0px;
  ul {
    padding: 0px;
    margin: 0px;
  }
  li {
    display: block;
    font-size: 16px;
    color: $fontGrey;
    padding: 15px 0px;
    padding-left: 50px;
    cursor: pointer;
    margin: 0px;
    text-transform: uppercase;
    transition: 300ms;
  }
  .active li,
  li:hover {
    color: $theme;
    background-color: $grey;
  }
}
