H3 {
  color: #36454d;
  font-size: 14px;
}
.menu {
  padding: 20px 20px 20px 20px;
  ul {
    padding: 0px;
    margin: 0px;
  }
  li {
    display: block;
    font-size: 16px;
    color: white;
    padding: 15px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
    &:hover {
      background-color: #1c242b;
    }
    .icon {
      margin-right: 1.3rem;
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}
