$theme: #ff424f;
$themeDark: #f83745;
$dark: #191c1f;
$grey: #222b31;
$lightGrey: #596065;
$fontLight: #f8f8f8;
$fontGrey: #a0acb3;
$fontDarkBlue: #4f6371;
$fontWhite: #fff;
$title: #f9f9f9;
$yellow: #ffb10a;

$navHeight: 80px;
$left: 300px;
